.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
}

.title {
    text-align: center;
    font-size: 250px;
    margin: 0;
}

.subtitle {
    text-align: center;
    font-size: 50px;
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.buttonContainer {
    margin-top: 20px;
}
